.accent {
  color: #aa5cdb;
}

.attribution {
  margin-top: 8vh;
}

body {
  background-color: #090b1a;
  color: white;
  min-width: 100%;
  padding-top: 10vh;
  font-size: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;

}

h2, h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.first {
  background-color: #9729bc;
}


.grid-container {
  width: 85vw;
  margin: auto;
  background-color: 	#1b1938;
  grid-template-rows: 30vh 30vh 30vh;
  border-radius: 3%;
  overflow: hidden;
  /* remove */
  /* border: solid 1px white; */

}

/* .grid-item {
  border: solid 1px white;
} */


.para {
  opacity: .75;
  line-height: 1.5;
}

.pic1 {
  width: 100%;
  opacity: 0.6;
  filter: brightness(60%);
}

.pic2 {
  display: none;
}

.stat {
  opacity: 0.6;
}

.stats {
  padding: 1.5rem 1rem;
}

.text {
  padding: 1.5rem;
  text-align: center;
}

/* media query breakpoints */

@media (min-width: 700px) {
  .grid-container {
    width: 75vw;
  }

  .first {
    height: 45vh;
    overflow: hidden;
  }
}



@media (min-width: 1024px) {

  .attribution {
    position: absolute;
    width: 100%;
    text-align: center;
    margin: auto;
    bottom: 3px;
  }

  .container {
    flex-direction: row;
  }


  .grid-container {
    display: grid;
    grid-template-columns: 45vw 45vw;
    grid-template-rows: 40vh 20vh;
    width: 90vw;
    height: 60vh;
    margin-top: 3rem;
  }

  .first {
    grid-row: span 2;
    height: 100%;
    grid-column: 2;
  }

  .pic1 {
    display: none;
  }

  .pic2 {
    display: inline-block;
    opacity: 0.6;
    filter: brightness(60%);
    height: 100%;
  }

  .text {
    text-align: left;
    grid-row: 1;
    padding-top: 6rem;
    padding-left: 3.5rem;
  }

  .stats {
    grid-row: 2;
    align-items: center;
    padding-left: 3.5rem;
  }

  .companies, .templates, .queries {
    margin-right: 2rem;
  }

}

@media (min-width:1100px) {

  .grid-container {
    display: grid;
    grid-template-columns: 42.5vw 42.5vw;
    grid-template-rows: 40vh 20vh;
    width: 85vw;
    height: 60vh;
    margin-top: 3rem;
  }

}

@media (min-width: 1200px) {
  .grid-container {
    display: grid;
    grid-template-columns: 40vw 40vw;
    grid-template-rows: 40vh 20vh;
    width: 80vw;
    height: 60vh;
  }
}
